body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: aliceblue;
    
}
header{
 position: relative;
 max-width: 1200px;
 margin: 20px auto;
 padding: 10px;
 background-color: #fff;
 border-radius: border-box;
 border-radius: 4px;
 box-shadow: 0 2px 5px;
    
   
    
}
.logo{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
}
nav{
    float: right;
    margin-top: -70px;
   
}
nav ul{
    display: flex;
}
nav ul li {
    list-style: none;
}
nav ul li a{
    display: block;
    margin: 9px 0;
    padding: 9px 20px;
    text-decoration: none;
    color: black;
}
nav ul li a.active{
    background: #069370;
    color: #fff;
    transition: 0.5s;
}
nav ul li a:hover{
    background: #069370;
    color: #fff;
    transition: 0.5s;
}
@media (max-width:1200px){

      header{
          margin: 20px;
      }
}
@media (max-width:750px) {
    .menu-toggle{
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        background: #ccc;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #069370;
    }
    
}